{% extends "base.html" %}
{% block title %}{{ cake.cake_type }} {% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w3-row">
	<div class="w3-half w3-grey w3-container">
		<div class="w3-left">
      		<h1 class="w3-text-white">{{ cake.name }}</h1>
      		<img src="{{ cake.image.url }}" class="w3-left" alt="{{ cake.name }}" style="width:100%">
   		</div>
	</div>
	<div class="w3-half">
		<div class="w3-left-align w3-padding-large">
	        <p><strong>Cake For</strong>: {{ cake.cake_type }}</p><br>
	        <p><strong>Price</strong>: Rs {{ cake.price }}/-</p>

          {% if cake.description %}

          <p><strong>Details</strong>:<br> {{ cake.description }}</p>

          {% endif %}

	        {% if request.user.is_authenticated %}
	         <a href="javascript:void(0)" onclick="document.getElementById('id01').style.display='block'"><button class="w3-btn w3-black">Order Now</button></a>
	        {% else %}
	        <a href="{% url 'account_login' %}"><button class="w3-btn w3-red">Log In</button></a>
	        {% endif %}
	    </div>
	</div>
</div>
<br>

<!-- this is the pop up dialogue box -->

<div id="id01" class="w3-modal" style="z-index:4">
  <div class="w3-modal-content w3-animate-zoom">
    <div class="w3-container w3-padding w3-red">
       <span onclick="document.getElementById('id01').style.display='none'"
       class="w3-button w3-red w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
      <h2>Order Form</h2>
    </div>
    <div class="w3-panel">
      <form action='' method="POST">{% csrf_token %}
      {{ order_form|crispy }}
      <div class="w3-section">
        <button class="w3-button w3-red w3-right w3-margin-bottom" type="submit">Submit<i class="fa fa-paper-plane"></i></button> 
      </div> 
      </form>   
    </div>
  </div>
</div>

{% endblock content %}

{% block script %}
$(document).ready(function(){
    if ($(".form-group").hasClass("has-error")){
    $("#id01").show();
    }
});
{% endblock script %}


