
{% extends "blog.html" %}


{% block head_title %} Create Blog Post | Mellif{% endblock head_title %}


{% load crispy_forms_tags %}


{% block head_extra %}

{{ form.media }}

{% endblock head_extra %}

{% block styling %}
		label,#fill-detail,#preview{
			color: #a52c0b;
		}
		.form-group
		{
			padding: 10px;
		}
{% endblock styling %}

{% block content %}

<div class="w3-row w3-padding w3-border">
	<div class="w3-col l6 s12">
		<h2 id="fill-detail">Fill the details</h2>
		<form method="POST" class="w3-container" action="" enctype="multipart/form-data">{% csrf_token %}
		{{ form | crispy }}
		<br>
		<button type="submit" class='w3-button w3-blue'>Submit</button>
		</form>
	</div>

	<div class="w3-col l6 s12">

		<h2 id="preview">Preview</h2> 
		<div class="content-preview">
			<h3 id="preview-title"> </h3>
			<p id="preview-content"></p>
		</div>
	</div>
</div>

{% endblock content %}

{% block script %}


$("input[type='text']").each(function()
	{
      	var t = $(this); 
    
        t.addClass("w3-input");
        t.addClass("w3-border");        
    });

{% endblock script %}








