<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html>
<head>
<title>Mellif.com</title>
    
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{% static 'logo.jpg' %}" type="image/png">
<link rel="stylesheet" href="{% static 'main.css' %}">
<link rel="stylesheet" href="{% static 'main2.css' %}">
<style>
.w3-sidebar a {font-family: "Roboto", sans-serif;}
body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
.mySlides {display:none;}
.cake-order .control-label{
  display: none;
}
</style>
</head>
<body class="w3-content" style="max-width:1200px">

    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" style="z-index:3;width:220px" id="mySidebar">
      <div class="w3-container w3-display-container w3-padding-16">
        <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright">
          </i>
      <div class="w3-wide"><a href="{% url 'home' %}"><img src="{% static 'logo.jpg' %}" style="width:100%;"/></a></div>
      </div>

      <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold;">
          <a href="{% url 'birthday' %}" class="w3-bar-item w3-button" id="birthday">Birthday</a>
          <a href="{% url 'marriage' %}" class="w3-bar-item w3-button" id="marriage">Marriage</a>
            
          <a onclick="myAccFunc()" href="javascript:void(0)" class="w3-button w3-block w3-left-align" id="myBtn">
            Celebrations <i class="fa fa-caret-down"></i>
          </a>
          <div id="demoAcc" class="w3-bar-block w3-hide w3-padding-large w3-medium">
            <a href="{% url 'new_year' %}" class="w3-bar-item w3-button" id="new_year">New Year</a>
            <a href="{% url 'congratulate' %}" class="w3-bar-item w3-button" id="congratulate">Congratulate</a>
            <a href="{% url 'surprise' %}" class="w3-bar-item w3-button" id="surprise">Surprise</a>
            <a href="{% url 'anniversary' %}" class="w3-bar-item w3-button" id="anniversary">Anniversary</a>
            <a href="{% url 'valentines_day' %}" class="w3-bar-item w3-button" id="valentines_day">Valentines Day</a>
          </div>
          <a href="{% url 'festivals' %}" class="w3-bar-item w3-button" id="festivals">Festivals</a>
          <a href="{% url 'party' %}" class="w3-bar-item w3-button" id="party">Party</a>
          <a href="{% url 'special_with_cakes' %}" class="w3-bar-item w3-button" id="special_with_cakes">Special With Cakes</a>
          <a href="{% url 'send_gifts' %}" class="w3-bar-item w3-button" id="send_gifts">Send Gifts</a>
          <a href="{% url 'propose' %}" class="w3-bar-item w3-button" id="propose">For Him/Her</a>
      </div>

      <a href="#footer" class="w3-bar-item w3-button w3-padding">Contact</a> 
      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding" onclick="document.getElementById('newsletter').style.display='block'">Newsletters</a> 
      <a href="{% url 'about' %}" class="w3-bar-item w3-button w3-padding about">About US</a>
      <a href="#footer"  class="w3-bar-item w3-button w3-padding">Developers</a>
    </nav>

    <!-- Top menu on small screens -->
    <header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">

      <div class="col-xs-4 col-sm-2 col-md-2 w3-margin-top"><a href="{% url 'home' %}"><img src="{% static 'logo3.jpg' %}" style="width:100%;"/></a></div>

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>

    </header>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- page content -->
    <div class="w3-main" style="margin-left:250px">

      <!-- Push down content on small screens -->
      <div class="w3-hide-large" style="margin-top:83px"></div>
      {% include 'message.html' %}
        <!-- Top header -->
        <header class="w3-container w3-xlarge">
          <!-- For search -->
          <div class="w3-margin-top row">

            <div class="col-xs-3 col-sm-3">
              <p class="w3-left"><b>{% block title %}{% endblock title %}</b></p>
            </div>

            <div class="col-xs-offset-3 col-xs-6 col-sm-offset-5 col-sm-4">
              {% if home %}
                <form method="GET" action=''>{% csrf_token %}
                    <div class="input-group">
                      <input type="text" class="form-control" name="q" placeholder="Cake | Price | Type" value={{ request.GET.q }}>
                      <div class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                      </div>
                    </div>
                </form>
                {% endif %}

              <div class="w3-right">
              {% if request.user.is_authenticated %}

                {% if home %} 
                <!-- this is to set shopping cart only for home page -->
                <a href="javascript:void(0)" onclick="document.getElementById('addtocart').style.display='block'">
                <span class="badge" style="background-color: darkred;">{{ orders.count }}</span><i class="fa fa-shopping-cart w3-margin-right"></i></a>
                {% endif %}

                <a href="{% url 'account_logout' %}"><button type="button" class="w3-button w3-red w3-small">Logout</button></a>
              {% else %}
                <a href="{% url 'account_login' %}"><button type="button" class="w3-button w3-red w3-small">Login</button></a>
                {% endif %}
            </div>
          </div>
        </div>
      </header>

      {% block content %}

      {% endblock content %}
      
      <!-- Subscribe section -->
      <div class="w3-container w3-black w3-padding-32">
        <h1>Subscribe</h1>
        <p>To get special offers and VIP treatment:</p>
        <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail" style="width:100%"></p>
        <button type="button" class="w3-button w3-red w3-margin-bottom">Subscribe</button>
      </div>

      <!-- Footer -->
      <footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
        <div class="w3-row-padding">
          <div class="w3-col s4" id="custom-cake">
          {% if cake_form %}
            <h4>Contact</h4>
            <p>Questions? Need a custom cake?</p>
            {% if not request.user.is_authenticated %}
              <p><strong>You must login first.</strong></p>
            {% endif %}
            <form action="" method="POST" class="cake-order" enctype="multipart/form-data">{% csrf_token %}
              {{ cake_form|crispy }}
              <button type="submit" class="w3-button w3-block w3-black">Send</button>
            </form>
          {% endif %}
          </div>

          <div class="w3-col s4">
            <h4>About</h4>
            <p><a href="#">About us</a></p>
            <p><a href="#">We're hiring</a></p>
            <p><a href="#">Support</a></p>
            <p><a href="#">Find store</a></p>
            <p><a href="#">Shipment</a></p>
            <p><a href="#">Payment</a></p>
            <p><a href="#">Gift card</a></p>
            <p><a href="#">Return</a></p>
            <p><a href="#">Help</a></p>
          </div>

          <div class="w3-col s4 w3-justify">
            <h4>Store</h4>
            <p><i class="fa fa-fw fa-map-marker"></i> Mellif</p>
            <p><i class="fa fa-fw fa-phone"></i> 9843496307</p>
            <br>
            <h5>We accept</h5>
            <p><i class="fa fa-fw fa-credit-card"></i> Cash On delivery</p>
            <br>
            <h5>Follow Us:</h5>
            <a href="https://www.facebook.com/mellif.cake" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity w3-large"></i></a>
            <a href="https://www.instagram.com/mellif.cake/" target="_blank"><i class="fa fa-instagram w3-hover-opacity w3-large"></i></a>
            <a href="https://www.pinterest.com/mellifcake/" target="_blank"><i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i></a>
          </div>
        </div>
      </footer>

      <div class="w3-black w3-center w3-padding-24">Powered by <a href="https://www.bean.com" title="bean the company" target="_blank" class="w3-hover-opacity">bean.com</a></div>

      <!-- End page content -->
    </div>

    <!-- Newsletter Modal -->
    <div id="newsletter" class="w3-modal">
      <div class="w3-modal-content w3-animate-zoom" style="padding:32px">
        <div class="w3-container w3-white w3-center">
          <i onclick="document.getElementById('newsletter').style.display='none'" class="fa fa-remove w3-right w3-button w3-transparent w3-xxlarge"></i>
          <h2 class="w3-wide">NEWSLETTER</h2>
          <p>Join our mailing list to receive updates on new arrivals and special offers.</p>
          <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"></p>
          <button type="button" class="w3-button w3-padding-large w3-red w3-margin-bottom" onclick="document.getElementById('newsletter').style.display='none'">Subscribe</button>
        </div>
      </div>
    </div>

    {% if request.user.is_authenticated %}

    <!-- this opens the cart of a user and their buy history -->
    <div id="addtocart" class="w3-modal" style="z-index:4">
      <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-padding w3-red">
           <span onclick="document.getElementById('addtocart').style.display='none'"
           class="w3-button w3-red w3-right w3-xxlarge"><i class="fa fa-remove"></i></span>
          <h2>Your Shopping Cart</h2>
        </div>
        <div class="w3-panel">
           <p class="w3-center w3-light-grey"><a href="http://www.mellif.com" style="color: blue;">MelliF</a> takes care about your shopping lists.<br> Following is the list of items you bought.</p>
           <hr>
          <div class="row container-fluid">
            <div class="col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
              <div class="table-responsive">          
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Quantity</th>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Delivery Date</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% if orders %}
                    {% for elements in orders %}
                      <tr>
                        <td>{{ elements.quantity }}</td>
                        <td><a href="{{ elements.cake.get_absolute_url }}" style="color: rgba(27, 43, 135, 0.92);">{{ elements.cake }}</a></td>
                        <td>{{ elements.total_price }}</td>
                        <td>{{ elements.delivery_date }}</td>
                      </tr>
                    {% endfor %}
                    {% else %}
                      <p> Sorry, You have not purchased anything yet. </p>
                    {% endif %}
                    </tbody>
                  </table>
                  </div>
            </div>
          </div>
        </div>
       </div>
    </div>
    {% endif %}


    <script type="text/javascript">
      // Accordion 
      function myAccFunc() {
          var x = document.getElementById("demoAcc");
          if (x.className.indexOf("w3-show") == -1) {
              x.className += " w3-show";
          } else {
              x.className = x.className.replace("w3-show", "");
          }
      }

      // Click on the "Jeans" link on page load to open the accordion for demo purposes
      document.getElementById("myBtn").click();


      // Script to open and close sidebar
      function w3_open() {
          document.getElementById("mySidebar").style.display = "block";
          document.getElementById("myOverlay").style.display = "block";
      }

      function w3_close() {
          document.getElementById("mySidebar").style.display = "none";
          document.getElementById("myOverlay").style.display = "none";
      }
    </script>
    <!-- Latest compiled and minified JavaScript -->
  <script   src="http://code.jquery.com/jquery-1.12.2.min.js"   integrity="sha256-lZFHibXzMHo3GGeehn1hudTAP3Sc0uKXBXAzHX1sjtk="   crossorigin="anonymous"></script>


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
      {% block script %}
      {% endblock script %}
    </script>
    
</body>
</html>







