<p><input class="w3-input w3-border" type="text" placeholder="Name" name="Name" required></p>
<p><input class="w3-input w3-border" type="text" placeholder="Email" name="Email" required></p>
<p><input class="w3-input w3-border" type="text" placeholder="Subject" name="Subject" required></p>
<p><input class="w3-input w3-border" type="text" placeholder="detail" name="Message" required></p>


<a href="{% url 'home' %}"><img src="{% static 'logo.jpg' %}" style="width:90%"/></a>

<img src="{% static 'logo1.jpg' %}" style="width:20%;" />



 <a href="javascript:void(0)" class="w3-bar-item w3-button w3-dark-grey w3-button w3-hover-black w3-left-align" onclick="document.getElementById('id01').style.display='block'">New Message <i class="w3-padding fa fa-pencil"></i></a>

 <!-- Modal that pops up when you click on "New Message" -->


$(window).resize(function() {
    if (window.innerWidth < 480) {

        $('.LatestNews').replaceWith('<h3><a href="">News Link</a></h3>');

    } else if (window.innerWidth > 480) {

        // Change back to original .LatestNews

    }
}).resize();

<script>
	$(document).ready(function(){

		$(".search-input-box").click(function(){
	        $("#searches").fadeToggle();
	    })

	    $(".photo-upload").click(function(){
	        $("#photo-form").fadeToggle();
	    })

	})
</script>
