{% extends "base.html" %}
{% block title %} Mellif | Handpainted comfortable pillows. {% endblock title %}

{% block page_title %} Gifts {% endblock page_title %}

{% block meta_head %}

The best cakes in your hometown, Kathmandu, Nepal delivered at your doorstep. Urgent cakes available in less than 1 hour. Cash On Delivery. Exciting gifts. Birthday Gifts. Anniversary Gifts. Custom , Handpainted, Pillows.

{% endblock meta_head %}

{% block content %}
<div class="w3-row">

        {% for each in gifts %}
        <div class="w3-col l3 s6">
          <div class="w3-container">
            <div class="w3-display-container">
              <img alt="{{ each.name }}" src="{{ each.image.url }}" style="width:100%">
              <!-- <span class="w3-tag w3-display-topleft">New</span> -->
              <div class="w3-display-middle w3-display-hover">
                <a href="{{ each.get_absolute_url }}">
                <button class="w3-button w3-red">Buy now <i class="fa fa-shopping-cart"></i></button>
                </a>
              </div>
            </div>
            <div style="padding-top: 10px;">
            <h3><small>{{ each.name|truncatechars_html:15 }}<br><b>Rs: {{ each.price }}/-</b></small></h3>
            </div>
          </div>
        </div>
        {% endfor %}
</div>

<div class="pagination">
    <span class="step-links">
        {% if gifts.has_previous %}
            <a href="?{{ page_request_var }}={{ gifts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ gifts.number }} of {{ gifts.paginator.num_pages }}.
        </span>

        {% if gifts.has_next %}
            <a href="?{{ page_request_var }}={{ gifts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>

{% endblock content %}


{% block script %}

$(document).ready(function(){
    $( "#gifts" ).addClass( "w3-dark-grey" );
});

{% endblock script %}
